@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(#c4bbf6, #eceaf9);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Outfit", sans-serif;
  color: mediumslateblue;
  height: 100vh;
  font-family: "Outfit", sans-serif;
}
.container{
  display: flex;
  justify-content: center;
}
.box{
  margin-top: 100px;
}
.box h1{
  color: mediumslateblue;
}
.box hr{
  border: none;
  width: 100px;
  height: 4px;
  background-color: mediumslateblue;
  border-radius: 10px;
  margin: 5px 0 10px 0;
}
.contact-inputs{
  margin-top: 20px;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 20px;
}
.contact-inputs:focus{
  border: 2px solid mediumslateblue;
}
.contact-inputs::placeholder{
  color: #a9a9a9;
  font-family: "Outfit", sans-serif;
}
.box textarea{
  height: 140px;
  padding-top: 15px;
}
button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, mediumturquoise,  mediumslateblue);
}
